.profile {
    margin-top: 30px;
}
.infoAboutWrap {
    display: flex;
}
.photo {
    margin: 10px;
}
.photo img{
    height: 250px;
}
.title span {
    color: dimgray;
    font-size: 18px;
    font-weight: bold;
}
textarea {
    color: #1f1f1f;
    min-width: 500px;
    min-height: 300px;
}
span.hint {
    font-size: 13px;
    font-weight: normal;

}
